<!DOCTYPE html>
<html>
    <head>
        <title>La twitter APP</title>
    </head>

    <body>
      <h1>Le Défi</h1>
      <ul><a href="/menu">le menu</a></ul>
      <ul><a href="/hallOfFame">hall of fame</a></ul>
    </body>
</html>
