<!DOCTYPE html>
<html>
    <head>
        <title>La twitter APP</title>
        <script src="pixi.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
      <script>
        var socket = io.connect('http://localhost:8080');
        var stage = new PIXI.Container();
        var renderer = PIXI.autoDetectRenderer(window.innerWidth,window.innerHeight, {transparent:true});
        document.body.appendChild(renderer.view);
        var sc = new PIXI.Text("rien", {fontFamily:"bold Arial", fill:"red"});
        sc.position.x = 0;
        sc.position.y = 0;
        stage.addChild(sc);
        renderer.render(stage);
        tweets = new Object();
        function createTweet(x, y, tweet)
        {
          console.log(x, y)
          tweets[tweet.id] = new PIXI.Container();
          texture = new PIXI.Sprite(PIXI.Texture.fromImage("template-tweet.png"));
          texture.position.x = x;
          texture.position.y = y;
          tweets[tweet.id].addChild(texture);
          renderer.render(texture);
          username = new PIXI.Text(tweet.userName, {fontFamily:"bold Arial", fontSize : 30});
          username.position.x = x + 100;
          username.position.y = y + 20;
          tweets[tweet.id].addChild(username);
          screenName = new PIXI.Text("@" + tweet.screenName, {fontFamily:"bold Arial", fontSize : 30, fill:"grey"});
          screenName.position.x = x + 100;
          screenName.position.y = y + 50;
          tweets[tweet.id].addChild(screenName);
          /*pic = new PIXI.Texture(PIXI.Texture.fromImage(pic));
          pic.position.x = x + 10;
          pic.position.y = y + 20;
          tw.addChild(pic);*/
          screenName = new PIXI.Text(tweet.text, {fontFamily:"bold Arial", fontSize : 25});
          screenName.position.x = x + 20;
          screenName.position.y = y + 100;
          tweets[tweet.id].addChild(screenName);
          tweets[tweet.id].interactive = true;
          tweets[tweet.id].mousedown = function(data)
          {
            texture.destroy();
            socket.emit('tweet_ex', {});
            tweets[tweet.id].destroy();
            renderer.render(stage);
          }
          return tweets[tweet.id]
          stage.addChild(tweets[tweet.id]);
        }
        socket.on('tweet', function(tweet)
        {
          console.log('tweet');
          tw = createTweet(Math.floor((Math.random() * 1960) + 100), Math.floor((Math.random() * 1080)), tweet);
          stage.addChild(tw);
          renderer.render(stage);
        });
        socket.on('score', function(score)
        {
          sc.text = "" + score;
          renderer.render(stage);
        });
        </script>
    </body>
</html>
