<!DOCTYPE html>
<html>
    <head>
        <title>La twitter APP</title>
    </head>

    <body>
      <h1>Le Hall of Fame</h1>
      <ul><a href="/trial">le défi</a></ul>
      <ul><a href="/hallOfFame">Le menu</a></ul>
    </body>
</html>
